<!DOCTYPE html>

<title>Consultant</title>

{% block body %}
    <h1>Consultant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultant.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ consultant.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ consultant.roles ? consultant.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ consultant.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('consultant_index') }}">back to list</a>

    <a href="{{ path('consultant_edit', {'id': consultant.id}) }}">edit</a>

    {{ include('consultant/_delete_form.html.twig') }}
{% endblock %}
